$white: #ffffff;
$black: #000;

$light-gray: #ece9e6;
$medium-gray: #dfdcd9;
$gray: #c1bebb;
$dark-grey: #41403e;

$red: #cc4a4a;

$theme: #6f0f38;

$shadow: rgba($black, 0.05);
$smoke: rgba($black, 0.2);
$background-shadow: rgba(56, 47, 45, 0.7);